<%= content_for(:title, "Wikipages") %>

<h1>Wikipages</h1>

<ul>
  <% @contacts.each do |contact| %>
    <li><a href="/contacts/<%= contact.id %>"><%= contact.name %></a></li>
  <% end %>
</ul>

<a href="/contacts/new" class="btn btn-default">New contact</a>
